/* ROOT THEME VARIABLES */
:root {
  --bg: #ffffff;
  --text: #242424;
  --card-bg: #f4f4f4;
  --accent: #37003C;
  --green: #00FF87;
}

/* DARK THEME OVERRIDES */
body.dark-mode {
  --bg: #121212;
  --text: #ffffff;
  --card-bg: #1e1e1e;
  --accent: #55005e;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  padding: 20px;
  transition: background .3s, color .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MAIN CONTAINER */
main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* SECTIONS */
section {
  margin-bottom: 40px;
}

/* HEADINGS */
h1, h2 {
  text-align: center;
  color: var(--text);
  margin-bottom: 15px;
}

h1 { font-size: 26px; }
h2 { font-size: 26px; }

/* WELCOME */
#welcome {
  padding: 20px;
  background: none(--card-bg);
  border-radius: 10px;
}

/* TOP PLAYERS HIGHLIGHT */
.top-rank,
.second-rank,
.third-rank,
.high-points {
  color: var(--green);
  font-weight: bold;
}

/* BACK TO TOP */
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

/* THEME TOGGLE */
#themeToggle {
  position: fixed;
  top: 22px;
  right: 22px;
  background: var(--accent);
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

#themeToggle:hover {
  opacity: 0.8;
}

/* SPLIT SCREEN ANIMATION */
.split-screen {
  position: fixed;
  width: 100%;
  height: 50%;
  left: 0;
  background: var(--accent);
  z-index: 9999;
}

.split-top {
  top: 0;
  animation: splitTop 0.9s ease forwards;
}

.split-bottom {
  bottom: 0;
  animation: splitBottom 0.9s ease forwards;
}

@keyframes splitTop {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

@keyframes splitBottom {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

/* LAZY LOAD INITIAL */
.lazy {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .8s ease, transform .8s ease;
}

/* WHEN LOADED */
.lazy-loaded {
  opacity: 1;
  transform: translateY(0);
}